doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Colenso Database
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index') Colenso Database
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='search') Search Database
        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      // Features Section
      .row
        .col-lg-12
          h2.page-header The Colenso Project
        .col-md-6
          p 

          p
            
        .col-md-6
        .container
            form(action="/search", method="get")
                input(type="text", name="searchString")
                input(type="submit", value = "Text")
        .col-md-6
        .container
            form(action="/xquery", method="get")
                input(type="text", name="searchXQuery")
                input(type="submit", value = "XQuery")
        .col-md-6
        .container
            form(action="/browse", method="get")
                input(type="submit", value = "Browse")

    .search-results
    .col-md-6
        ul
            each val in search_results
                li
                    a(href="/documents/#{val}") #{val}
          
      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © David Newton 2016
    // /.container
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Script to Activate the Carousel
    script.
      $('.carousel').carousel({
      interval: 5000 //changes the speed
      })